<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- this suppresses logback's status information which is triggered because it finds
         multiple logback-test.xmls: this one and the ones in other modules -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--            <Pattern>LB: %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>-->
            <Pattern>%-5level - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.grommitz" level="INFO"/>
    <logger name="org.hibernate.orm.deprecation" level="ERROR" />
    <logger name="org.hibernate.jpa.boot.internal.PersistenceXmlParser" level="ERROR" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>